<div class="breadcrumbs container">
  <div class="breadcrumbs__inner">
    <a href="{{ routes.root_url }}" class="breadcrumbs-font">Home&nbsp;&nbsp;</a>

    {% if template.name == 'list-collections'%}
      <a href="" class="breadcrumbs-font">/&nbsp;&nbsp;Shop All</a>
    {% endif %}
    
    {% if template.name == 'collection' %}
      <a href="{{ pageUrl }}" class="breadcrumbs-font">/&nbsp;&nbsp;{{ page }}</a>
    {% endif %}

    {% if template.name == 'product' %}
      <a href="{{ product.collections[0].url }}" class="breadcrumbs-font">/&nbsp;&nbsp;{{ product.collections[0].title }}</a>
      <a href="{{ product.url }}" class="breadcrumbs-font">/&nbsp;&nbsp;{{ product.title }}</a>
    {% endif %}
    
  </div>
</div>