<div class="pagination">
  {% unless paginate.previous.is_link %} 
    <button class="pagination__btn-disabled" disabled>
      {% include 'icon-page-prev' %}       
    </button>
  {% else %}
    <a href="{{ paginate.previous.url }}" >
      <button >
        {% include 'icon-page-prev' %} 
      </button>      
    </a>
  {% endunless %}

  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      <li class="caption-regular">
        <a href="{{ part.url }}">
        {{ part.title }}
        </a>
      </li>
    {%- else -%}
      {%- if part.title == paginate.current_page -%}
        <li class="active caption-regular">
          {{ part.title }}
        </li>
      {%- else -%}
        <li>
          { part.title }}
        </li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {% unless paginate.next.is_link %} 
    <button class="pagination__btn-disabled" disabled>
      {% include 'icon-page-next' %}      
    </button>
  {% else %}
    <a href="{{ paginate.next.url }}" >
      <button >
        {% include 'icon-page-next' %}   
      </button>      
    </a>
  {% endunless %}  
</div>

