<div class="product-card__item swiper-slide">
  <div class="product-card__item-img">
    <a href="{{ product.url}}">
      <img class="js-product-first-image active" src="{{product.featured_image | img_url: '400x400'}}" alt="">
    </a>
    {% if product.media[1] %}
    <a href="{{ product.url}}">
      <img class="js-product-second-image" src="{{ product.media[1] | img_url: '400x400'}}" alt="">
    </a>
    {% endif %}
  </div>
  <div class="product-card__item-price">
    <p class="body-bold">{{ product.title }}</p>
    <p class="body-small">From {{ product.price | money }}</p>
  </div>
  <button class="btn js-product-card-add-to-cart"  data-variant-id="{{product.selected_or_first_available_variant.id}}">
    <p>Add to Your Cart - {{ product.price | money }}</p>
  </button>
  {% include 'product-options' %}
</div>




