<div class="home-reviews__header container">
  <h2 class="header-medium">{{ section.settings.header }}</h2>
</div>

<section class="home-reviews js-visibility reveal-slide">
  <div class="home-reviews__bg-right"></div>
  <div class="home-reviews__inner swiper-wrapper">
    {% for block in section.blocks %}
      <div class="home-reviews__card swiper-slide">
        <div class="home-reviews__card-left">
          <h2 class="header-small">{{ block.settings.name }}</h2>
          <h3 class="sub-header">{{ block.settings.athlete }}</h3>
          <p class="body-small">{{ block.settings.quote }}</p>
        </div>
        <div class="home-reviews__card-right">
          <img src="{{ block.settings.img | img_url: 'master' }}" alt="">
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="home-reviews__nav">
    {% include 'icon-left-arrow' %} 
    {% include 'icon-right-arrow' %} 
  </div>
  <div class="swiper-pagination"></div>
</section>



{% schema %}
{
  "name": "Reviews",
  "class": "featured-prd",
  "settings": [
    {
    "type": "text",
    "id": "header",
    "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": {
        "en": "Review"
      },
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": {
            "en": "Name"
          }
        },
        {
          "type": "text",
          "id": "athlete",
          "label": {
            "en": "Type of Athlete"
          }
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": {
            "en": "Quote"
          }
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": {
            "en": "Image"
          }
        },
        {
          "id": "link",
          "type": "url",
          "label": "Interview Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Reviews",
      "name": "Reviews"
    }
  ]
}

{% endschema %}