{% assign blogUrl = article.url | split: "/" %}
{% if blogUrl[2] == "recipes"%}
<H1>redipies</H1>

<section class="single-article">
  <div class="single-article__left">  
    <div class="single-article__img">
      <img  src="{{article.image.src | img_url: 'master'}}" alt="">
    </div>
    <div class="single-article__product">
      {% for tag in article.tags %}
        {% if tag contains "link-product"%}
          {% assign productHandle = tag | split: ":" %}
          {% assign product = all_products['clean-lean-protein-sachets'] %}
        {% endif %}
      {% endfor %}
      {% include 'product-card', product: product %}  
    </div>
  </div>

  <div class="single-article__right">
    <h4 class="caption-regular">3 min read</h4>
    <h1 class="header-medium">{{ article.title }}</h1>
    <h3 class="caption-regular"> {{ article.published_at | time_tag: format: 'date' }}</h3>
    <div class="single-article__posted-by">
      <h2 class="caption-regular">Posted By</h2>
      <h2 class="sub-header">{{ article.author }}</h2>
    </div>
    <div class="article-grid__item-tags">
      {% for tag in article.tags %}
        <span class="caption-italic"><a href="/{{ blogUrl[1] }}/{{ blogUrl[2] }}/tagged/{{ tag | handle }}">{{ tag }}</a></span> 
      {% endfor %}      
    </div>
    <h5 class="body-small" style="max-width: 580px; margin-top: 20px;">{{ article.excerpt }}</h5>

      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  </div>

 {% section 'product-benefits-banner' %}

  <div class="single-article__rte">
    {{ article.content }}
  </div>    

  <div class="single-article__product-mobile container">
      {% for tag in article.tags %}
        {% if tag contains "link-product"%}
          {% assign productHandle = tag | split: ":" %}
          {% assign product = all_products['clean-lean-protein-sachets'] %}
        {% endif %}
      {% endfor %}
      {% include 'product-card', product: product %}  
    </div>
</section>




<div class="single-article__recomended">
  <div class="featured-blogs container js-visibility reveal-slide">
    <div class="featured-blogs__title">
      <div class="featured-blogs__title-left">
        <p class="body-bold-large single-article__reccomended-header-dot">{{ blogsCount }}</p>
        <div class="featured-blogs__title-decoration"></div>
        <p class="body-bold-large">Related Articles</p>
      </div>
      <div class="featured-blog__nav">
        <div id="featured-blogs__prev-1}">
          {% include 'icon-left-arrow' %} 
        </div>
        <div id="featured-blogs__next-1">
          {% include 'icon-right-arrow' %} 
        </div>       
      </div>
    </div>
    <div class="featured-blogs__slider" id="featured-blogs__slider-1">
      <div class="swiper-wrapper">
        {% for article in blogs['nutrition'].articles %}
        {% assign chosenBlog = blogs[block.settings.blog] %} 
          <div class="article-grid__item swiper-slide">
            <div class="article-grid__item-image">
              <a href="{{article.url}}">
                <img  src="{{article.image.src | img_url: '400x400'}}" alt="">
              </a>        
            </div>
            <div class="article-grid__item-copy">
              <h4 class="caption-regular"><a href="{{article.url}}">10 min read</a></h4>
              <h3 class="header-small"><a href="{{article.url}}">{{article.title}}</a></h3> 
              <div class="article-grid__item-tags">
                <h4 class="body-small">{{ article.excerpt }}</h4>
              </div>
            </div>    
          </div>
      {% endfor %}
      </div>
      <a href="{{section.settings.btn-link}}" class="home-hero__btn body-small">
        See All Articles
        {% include 'icon-arrow-right' %} 
      </a>  
    </div>
    </div>
  </div>
</div>

{% else %}
{% include 'article-single' %}
{% endif %}
