<section class="scrolling-animation">  
  <div class="scrolling-animation__bg-left"></div>
  <div class="scrolling-animation__bg-right"></div>
  <div class="scrolling-animation__inner container">
    <div class="scrolling-animation__left">
      <div class="scrolling-animation__copy-one">
        <h2 class="header-medium">{{ section.settings.heading-one }}</h2>
        <p class="body-small">{{ section.settings.sub-heading-one }}</p>
      </div>
      <div class="scrolling-animation__copy-two">
        <h2 class="header-medium">{{ section.settings.heading-two }}</h2>
        <p class="body-small">{{ section.settings.sub-heading-two }}</p>
      </div>
      <div class="scrolling-animation__copy-three">
        <h2 class="header-medium">{{ section.settings.heading-three }}</h2>
        <p class="body-small">{{ section.settings.sub-heading-three }}</p>
      </div>
      <div class="scrolling-animation__copy-four">
        <h2 class="header-medium">{{ section.settings.heading-four }}</h2>
        <p class="body-small">{{ section.settings.sub-heading-four }}</p>
      </div>
    </div>
    <div class="scrolling-animation__right">
      <div class="scrolling-animation__inner-circle">
        <div class="scrolling-animation__num-one header-small active"><div class="">1</div></div>
        <div class="scrolling-animation__num-two header-small"><div class="scrolling-animation__num-copy">2</div></div>
        <div class="scrolling-animation__num-three header-small"><div class="scrolling-animation__num-copy">3</div></div>
        <div class="scrolling-animation__num-four header-small"><div class="scrolling-animation__num-copy">4</div></div>
        <div class="scrolling-animation__image-one">
          <img src="{{ section.settings.img-one | img_url: 'master' }}" alt="">
        </div>
        <div class="scrolling-animation__image-two">
          <img src="{{ section.settings.img-two | img_url: 'master' }}" alt="">
        </div>
        <div class="scrolling-animation__image-three">
          <img src="{{ section.settings.img-three | img_url: 'master' }}" alt="">
        </div>
        <div class="scrolling-animation__image-four">
          <img src="{{ section.settings.img-four | img_url: 'master' }}" alt="">
        </div>
      </div>      
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Scrolling Animation",
  "class": "hero",
  "settings": [
    {
      "type": "header",
      "content": "One"
    },
    {
      "type": "image_picker",
      "id": "img-one",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-one",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-one",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Two"
    },
    {
      "type": "image_picker",
      "id": "img-two",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-two",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-two",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Three"
    },
    {
      "type": "image_picker",
      "id": "img-three",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-three",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-three",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "four"
    },
    {
      "type": "image_picker",
      "id": "img-four",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-four",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-four",
      "label": "Copy"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Scrolling Animation"
    }
  ]
}

{% endschema %}