
<div class="product-template" style="margin-bottom: 200px">
  <div class="product-template__inner container">
    <div class="product-template__left">
      <h1 class="header-medium">{{ product.title }}</h1>
      <div class="product-template__reviews">
        Reviews will go here
      </div>
      <h4 class="body-small">{{ product.description }}</h4>
      {% include 'product-options' %}
      <div class="product-template__reviews">
        Subscriptions will go here
      </div>
      <div class="product-template__buy-wrap">
        <div class="product-template__qty-select">
          <div class="product-template__qty-btn js-product-template-qty-minus">
            {% include 'icon-qty-minus' %}
          </div>
          <p class="js-product-template-qty-amount">1</p>
          <div class="product-template__qty-btn js-product-template-qty-plus">
            {% include 'icon-qty-plus' %}
          </div>
        </div>
        <div class="product-template__buy-btn">
          <button class="btn js-product-card-add-to-cart" data-quantity="1" data-variant-id="{{product.selected_or_first_available_variant.id}}"><p>Add to Your Cart - {{product.price | money}}</p></button>
        </div>
      </div>
    </div>


    <div class="product-template__right">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="product-template__image swiper-slide">
            <img src="{{ image.src | product_img_url: '500x' }}">
          </div>
        {% endfor %}
        <div class=" swiper-slide">
          
        </div>
      </div>
    </div>
    <div class="product-template__slider-arrows">
      {% include 'icon-left-arrow' %} 
      {% include 'icon-right-arrow' %} 
    </div>
  </div>
</div>


<script>
  console.log('{{ product.title }}');
</script>