{% assign blogUrl = article.url | split: "/" %}
{% if blogUrl[2] == "recipes"%}

<section class="single-article js-visibility reveal-slide">
  <div class="single-article__left">  
    <div class="single-article__img single-article__img--recipes">
      <img  src="{{article.image.src | img_url: 'master'}}" alt="">
    </div>
  </div>
  <div class="single-article__right">
    <h4 class="caption-regular">3 min read</h4>
    <h1 class="header-medium">{{ article.title }}</h1>
    <h3 class="caption-regular"> {{ article.published_at | time_tag: format: 'date' }}</h3>
    <div class="single-article__posted-by">
      <h2 class="caption-regular">Posted By</h2>
      <h2 class="sub-header">{{ article.author }}</h2>
    </div>
    <div class="article-grid__item-tags">
      {% for tag in article.tags %}
        <span class="caption-italic"><a href="/{{ blogUrl[1] }}/{{ blogUrl[2] }}/tagged/{{ tag | handle }}">{{ tag }}</a></span> 
      {% endfor %}      
    </div>
    <h5 class="body-small" style="max-width: 580px; margin: 20px 0px;">{{ article.excerpt }}</h5>
      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  </div>
</section>

{% section 'product-benefits-banner' %}

<div class="single-article__recipes-content">
  <div class="single-article__recipes-content-inner ">
    <div class="single-article__recipes-content-left single-article__rte">
      <div class="">
        {% if article.metafields.accentuate.ingredients %}
        <h4 class="sub-header">Ingredients</h4>
        <div class="single-article__recipes-mkd-wrap">
          {{article.metafields.accentuate.ingredients.html}}
        </div>
      {% endif %}
      {% if article.metafields.accentuate.nutritional_information %}
        <h4 class="sub-header">Nutrition Information</h4>
        <div class="single-article__recipes-mkd-wrap">
          {{article.metafields.accentuate.nutritional_information.html}}
        </div>
      {% endif %}

      {% if article.metafields.accentuate.product %}      
        <div class="recipes-product-desktop">
          <h3 class="header-small" style="margin-bottom: 20px;">Products used in this recipe</h3>
          {% assign product = all_products[article.metafields.accentuate.product] %}
          {% include 'product-card', product: product %}  
        </div>
      {% endif %}

      </div>        
    </div>
    <div class="single-article__recipes-content-right single-article__right">
      <div class="single-article__rte">
        {{ article.content }}
      </div>  
      
      {% if article.metafields.accentuate.image_slider %}      
        <div class="single-article__recipes-slider">    
          <div class="single-article__recipes-heading">
            <div class="single-article__recipes-nav">
              {% include 'icon-left-arrow' %} 
              {% include 'icon-right-arrow' %} 
            </div>
          </div>
          <div class="single-article__recipes-slider-wrap">
            <div class="single-article__recipes-slider-inner">
              <div class="swiper-wrapper">
              {% for img in article.metafields.accentuate.image_slider %}
                {% for image in img %} 
                  <div class="single-article__recipes-item swiper-slide">
                    <div class="single-article__recipes-item-img">
                      <img src="{{ image.src }}" alt="{{ image.alt }}"/>
                    </div>
                  </div>
                  {% endfor %}
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

 

<div class="single-article__product-mobile container">
  {% if article.metafields.accentuate.product %}   
   {% include 'product-card', product: product %}  
  {% endif %}
</div>

{% include 'articles-reccomended' %}
</div>

{% else %}
{% include 'article-single' %}
{% endif %}

 