<section class="page-template js-visibility reveal-slide">

  <div class="page-template__inner container">     
    <div class="page-template__left page-template__left--contact">
      <div class="page-template__left-wrap">
        <h1 class="header-medium">{{ page.title }}</h1>
        <div class="single-article__rte">
          {{ page.content }}
        </div>
      </div>
    </div>
    <div class="page-template__right page-template__right--contact ">

        {% form 'contact', id: formId %}
              {% include 'form-status', form: form, form_id: formId %}

              <label class="body-small" for="{{ formId }}-name">Full name</label>
              <input  class="body-small"type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

              <label class="body-small" for="OrderRef">Order Reference No.</label>
              <input
                class="body-small"
                type="text"
                id="OrderRef"
                name="contact[Order Reference]"
              />

              <label class="body-small" for="Subject">Subject</label>
              <input
                class="body-small"
                type="text"
                id="Subject"
                name="contact[Subject]"
              />

              <label class="body-small" for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true"></span>*</span></label>
              <input
              style="position: relative;"
                class="body-small"
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  <p class="body-small" 
                  style="color: #FF7F32; margin-top: -20px; margin-bottom: 20px;">Invalid Email</p>
                </span>
              {%- endif -%}




              <label  class="body-small" for="{{ formId }}-message">Your Enquiry</label>
              <textarea class="body-small" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              <p style="margin-top: -20px" class="body-small">*required</p>
              <input type="submit" class="btn" value="Submit">

        {% endform %}
  </div>
</section>





