


{% if search.performed %}

{% assign productsAvalible = false %}
{% assign blogsAvalible = false %}

{% for item in search.results %}
  {% if item.object_type == 'product' %}
    {% assign productsAvalible = true %}
  {% endif %}
  {% if item.object_type == 'article' %}
    {% assign blogsAvalible = true %}
  {% endif %}
{% endfor %}
 

 
  <section class="page-template js-visibility reveal-slide">
    <div class="page-template__header container">
      <h1 class="sub-header search__header" ><span>Search results for</span>&nbsp; {{ search.terms }}</h1>
    </div>
  </section>

{% if productsAvalible %}
  <section style="padding-bottom: 0px;" class="home-featured-product js-visibility reveal-slide search__category">  
    <div class="home-featured-product__heading">
      <h2 class="header-medium">Products</h1>
      <div class="home-featured-product__nav">
        {% include 'icon-left-arrow' %} 
        {% include 'icon-right-arrow' %} 
      </div>
    </div>
    <div class="home-featured-product__slider-wrap">
      <div class="home-featured-product__inner ">
        <div class="swiper-wrapper">    
          
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% include 'product-card', product: item %}   
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}    


{% if blogsAvalible %}
<section style="padding-bottom: 0px; " class="featured-blog js-visibility reveal-slide search__category">  
  <div class="featured-blog__heading">
    <h2 class="header-medium">Articles</h1>
    <div class="featured-blog__nav">
      {% include 'icon-left-arrow' %} 
      {% include 'icon-right-arrow' %} 
    </div>
  </div>
  <div class="featured-blog__slider-wrap">
    <div class="featured-blog__inner">
      <div class="swiper-wrapper">
        {% for item in search.results %}
        {% if item.object_type == 'article' %}
        {% assign article = item %}
        <div class="featured-blog__item swiper-slide">
          <div class="featured-blog__item-img">
            <a href="{{article.url}}">
            <img  src="{{article.image.src | img_url: '400x400'}}" alt="">
            </a>
          </div>
          <div class="featured-blog__item-details">
            <h3 class="caption-regular">3 min read</h3>
            <h2 class="header-small">{{ article.title }}</h2>
            <p class="body-small">{{ article.excerpt }}</p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endif %}

{% if search.results_count < 1  %}

<section class="page-template js-visibility reveal-slide" style="height: 100vh;">
  <div class="page-template__header container">
    <h1 class="header-small" style="line-height: 50px;">No search results found - please try again</h1>
  </div>
</section>
{% endif %}







